<div class="main">
    <img src="../../assets/images/1564535_customer_user_userphoto_account_person_icon.png" alt="my-photo">
    <div class="side-info">
        <div class="content-box">
            <span class="big-text">I'm a freelance worker
            </span><br>
            <span class="small-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam est vero sapiente unde, doloremque reprehenderit aperiam officia esse fuga ipsum reiciendis molestiae culpa ducimus! Aperiam maxime error distinctio accusantium laboriosam.</span>
        </div>
        <div class="content-box">
            <span class="big-text">I studied formerly and independently
            </span><br>
            <span class="small-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae perspiciatis dignissimos laborum quam et accusamus accusantium culpa incidunt vero recusandae, sequi aspernatur consectetur velit molestiae harum at excepturi, optio odio?</span>
        </div>
        <div class="content-box">
            <span class="big-text">I'm looking for</span><br>
            <span class="small-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet modi quos ratione enim maxime vel nihil. Delectus facere optio, suscipit officia non quia eius quaerat, soluta commodi in at deleniti?</span>
        </div>       
    </div>
</div>
<div class="look-under" (click)="scroll(target)">
    <span>Certificates and sources</span>
    <img src="../../assets/images/211687_down_arrow_icon.png" alt="arrow">
</div>
<div class="certificates-container" #target>should scroll here</div>