<div>
    <nav>
        <a routerLinkActive="active" routerLink="./home">
            <img src="../../assets/images/216242_home_icon.png" alt="home-icon">
            <span>Home</span>
        </a>
        <a routerLinkActive="active" routerLink="./about-me">
            <img src="../../assets/images/4213460_account_avatar_head_person_profile_icon.png" alt="about-me">
            <span>About Me</span>
        </a>
        <a routerLinkActive="active" routerLink="./work">
            <img src="../../assets/images/352228_work_icon.png" alt="experience">
            <span>Experience</span>
        </a>
        <a routerLinkActive="active" routerLink="./contact-me">
            <img src="../../assets/images/9055131_bxs_contact_icon.png" alt="contact">
            <span>Contact</span>
        </a>
        <a routerLinkActive="active" routerLink="./login-page">
            <img src="../../assets/images/1564535_customer_user_userphoto_account_person_icon.png" alt="account">
            <span>Account</span>
        </a>
    </nav>
</div>